body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none;
}

.calculator_body{
  width: 100%;
  height: 100vh;
  background: #f3f0ff;
  margin-top: -50px;
}

.calculator_body input{
  width: 300px;
  padding: 30px 15px;
  border-radius: 10px;
  box-shadow: inset 5px 5px 14px #848484,
  -5px -5px 14px #ffffff;
  font-size: 20px;
}

.calculator_body button{
  padding: 20px 26px;
  margin: 8px;
  font-size: 20px;
  color: #555;
  background: none;
  outline: none;
  border: none;
  box-shadow: 5px 5px 14px #848484,
  -5px -5px 14px #ffffff;
  border-radius: 10px;
  background: #4F5D75;
  color: #fff;
  border: 2px solid #555;
  /*border-right: 18px solid #555;*/
  border-bottom: 8px solid #555;
}









.calculator_body #clear_button{
  padding: 20px 75px;
  background: #E63946;
  
}

.calculator_body #clear_button:hover{
  background: coral;
  color: #fff;
}
.calculator_body #minus_button{
  padding: 20px 31px;
}

.calculator_body #plus_button{
  padding: 20px 28px;
}

.calculator_body #multiply_button{
  padding: 20px 30px;
}

.calculator_body #equal_button{
  padding: 20px 33px;
  background: #457B9D;
  
}

.calculator_body #equal_button:hover{
  background: cornflowerblue;
  color: #fff;
}